body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:960px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0 {
  position:absolute;
  left:0px;
  top:0px;
  width:960px;
  height:640px;
}
#u0_img {
  position:absolute;
  left:0px;
  top:0px;
  width:960px;
  height:640px;
}
#u1 {
  position:absolute;
  left:2px;
  top:312px;
  width:956px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2 {
  position:absolute;
  left:0px;
  top:0px;
  width:960px;
  height:640px;
}
#u2_img {
  position:absolute;
  left:0px;
  top:0px;
  width:960px;
  height:640px;
}
#u3 {
  position:absolute;
  left:2px;
  top:312px;
  width:956px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4 {
  position:absolute;
  left:0px;
  top:459px;
  width:960px;
  height:181px;
}
#u4_img {
  position:absolute;
  left:0px;
  top:0px;
  width:960px;
  height:181px;
}
#u5 {
  position:absolute;
  left:2px;
  top:82px;
  width:956px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6 {
  position:absolute;
  left:268px;
  top:96px;
  width:627px;
  height:305px;
  -webkit-transform:rotate(5deg);
  -moz-transform:rotate(5deg);
  -ms-transform:rotate(5deg);
  transform:rotate(5deg);
}
#u6_img {
  position:absolute;
  left:0px;
  top:0px;
  width:627px;
  height:305px;
}
#u7 {
  position:absolute;
  left:2px;
  top:144px;
  width:623px;
  visibility:hidden;
  word-wrap:break-word;
}
#u8 {
  position:absolute;
  left:2px;
  top:80px;
  width:260px;
  height:380px;
}
#u8_img {
  position:absolute;
  left:0px;
  top:0px;
  width:260px;
  height:380px;
}
#u9 {
  position:absolute;
  left:2px;
  top:182px;
  width:256px;
  visibility:hidden;
  word-wrap:break-word;
}
#u10 {
  position:absolute;
  left:0px;
  top:0px;
  width:960px;
  height:80px;
}
#u10_img {
  position:absolute;
  left:0px;
  top:0px;
  width:960px;
  height:80px;
}
#u11 {
  position:absolute;
  left:2px;
  top:32px;
  width:956px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12 {
  position:absolute;
  left:864px;
  top:11px;
  width:82px;
  height:58px;
}
#u12_img {
  position:absolute;
  left:0px;
  top:0px;
  width:82px;
  height:58px;
}
#u13 {
  position:absolute;
  left:2px;
  top:21px;
  width:78px;
  visibility:hidden;
  word-wrap:break-word;
}
#u14 {
  position:absolute;
  left:886px;
  top:20px;
  width:41px;
  height:41px;
}
#u14_img {
  position:absolute;
  left:0px;
  top:0px;
  width:41px;
  height:41px;
}
#u15 {
  position:absolute;
  left:2px;
  top:12px;
  width:37px;
  visibility:hidden;
  word-wrap:break-word;
}
#u16 {
  position:absolute;
  left:40px;
  top:18px;
  width:110px;
  height:45px;
}
#u16_img {
  position:absolute;
  left:0px;
  top:0px;
  width:110px;
  height:45px;
}
#u17 {
  position:absolute;
  left:0px;
  top:-2px;
  width:110px;
  word-wrap:break-word;
}
#u18 {
  position:absolute;
  left:25px;
  top:483px;
  width:153px;
  height:130px;
}
#u18_img {
  position:absolute;
  left:0px;
  top:0px;
  width:153px;
  height:130px;
}
#u19 {
  position:absolute;
  left:2px;
  top:57px;
  width:149px;
  visibility:hidden;
  word-wrap:break-word;
}
#u20 {
  position:absolute;
  left:191px;
  top:483px;
  width:153px;
  height:130px;
}
#u20_img {
  position:absolute;
  left:0px;
  top:0px;
  width:153px;
  height:130px;
}
#u21 {
  position:absolute;
  left:2px;
  top:57px;
  width:149px;
  visibility:hidden;
  word-wrap:break-word;
}
#u22 {
  position:absolute;
  left:358px;
  top:470px;
  width:153px;
  height:130px;
}
#u22_img {
  position:absolute;
  left:0px;
  top:0px;
  width:153px;
  height:130px;
}
#u23 {
  position:absolute;
  left:2px;
  top:57px;
  width:149px;
  visibility:hidden;
  word-wrap:break-word;
}
#u24 {
  position:absolute;
  left:525px;
  top:483px;
  width:153px;
  height:130px;
}
#u24_img {
  position:absolute;
  left:0px;
  top:0px;
  width:153px;
  height:130px;
}
#u25 {
  position:absolute;
  left:2px;
  top:57px;
  width:149px;
  visibility:hidden;
  word-wrap:break-word;
}
#u26 {
  position:absolute;
  left:690px;
  top:483px;
  width:153px;
  height:130px;
}
#u26_img {
  position:absolute;
  left:0px;
  top:0px;
  width:153px;
  height:130px;
}
#u27 {
  position:absolute;
  left:2px;
  top:57px;
  width:149px;
  visibility:hidden;
  word-wrap:break-word;
}
#u28 {
  position:absolute;
  left:857px;
  top:483px;
  width:103px;
  height:130px;
}
#u28_img {
  position:absolute;
  left:0px;
  top:0px;
  width:103px;
  height:130px;
}
#u29 {
  position:absolute;
  left:2px;
  top:57px;
  width:99px;
  visibility:hidden;
  word-wrap:break-word;
}
#u30 {
  position:absolute;
  left:548px;
  top:520px;
  width:109px;
  height:65px;
}
#u30_img {
  position:absolute;
  left:0px;
  top:0px;
  width:109px;
  height:65px;
}
#u31 {
  position:absolute;
  left:2px;
  top:24px;
  width:105px;
  visibility:hidden;
  word-wrap:break-word;
}
#u32 {
  position:absolute;
  left:378px;
  top:507px;
  width:109px;
  height:65px;
}
#u32_img {
  position:absolute;
  left:0px;
  top:0px;
  width:109px;
  height:65px;
}
#u33 {
  position:absolute;
  left:2px;
  top:24px;
  width:105px;
  visibility:hidden;
  word-wrap:break-word;
}
#u34 {
  position:absolute;
  left:879px;
  top:520px;
  width:77px;
  height:65px;
  opacity:0.2;
}
#u34_img {
  position:absolute;
  left:0px;
  top:0px;
  width:77px;
  height:65px;
}
#u35 {
  position:absolute;
  left:2px;
  top:24px;
  width:73px;
  visibility:hidden;
  word-wrap:break-word;
}
#u36 {
  position:absolute;
  left:213px;
  top:520px;
  width:109px;
  height:65px;
}
#u36_img {
  position:absolute;
  left:0px;
  top:0px;
  width:109px;
  height:65px;
}
#u37 {
  position:absolute;
  left:2px;
  top:24px;
  width:105px;
  visibility:hidden;
  word-wrap:break-word;
}
#u38 {
  position:absolute;
  left:52px;
  top:520px;
  width:109px;
  height:65px;
}
#u38_img {
  position:absolute;
  left:0px;
  top:0px;
  width:109px;
  height:65px;
}
#u39 {
  position:absolute;
  left:2px;
  top:24px;
  width:105px;
  visibility:hidden;
  word-wrap:break-word;
}
#u40 {
  position:absolute;
  left:40px;
  top:486px;
  width:50px;
  height:36px;
  font-family:'Exo 2 Bold', 'Exo 2';
  font-weight:700;
  font-style:normal;
}
#u40_img {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:36px;
}
#u41 {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  white-space:nowrap;
}
#u42 {
  position:absolute;
  left:206px;
  top:486px;
  width:20px;
  height:36px;
  opacity:0.3;
  font-family:'Exo 2 Bold', 'Exo 2';
  font-weight:700;
  font-style:normal;
}
#u42_img {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:36px;
}
#u43 {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  white-space:nowrap;
}
#u44 {
  position:absolute;
  left:372px;
  top:473px;
  width:69px;
  height:36px;
  font-family:'Exo 2 Bold', 'Exo 2';
  font-weight:700;
  font-style:normal;
}
#u44_img {
  position:absolute;
  left:0px;
  top:0px;
  width:69px;
  height:36px;
}
#u45 {
  position:absolute;
  left:0px;
  top:0px;
  width:69px;
  white-space:nowrap;
}
#u46 {
  position:absolute;
  left:541px;
  top:486px;
  width:20px;
  height:36px;
  opacity:0.3;
  font-family:'Exo 2 Bold', 'Exo 2';
  font-weight:700;
  font-style:normal;
}
#u46_img {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:36px;
}
#u47 {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  white-space:nowrap;
}
#u48 {
  position:absolute;
  left:901px;
  top:518px;
  width:45px;
  height:61px;
}
#u48_img {
  position:absolute;
  left:0px;
  top:0px;
  width:45px;
  height:61px;
}
#u49 {
  position:absolute;
  left:2px;
  top:22px;
  width:41px;
  visibility:hidden;
  word-wrap:break-word;
}
#u50 {
  position:absolute;
  left:18px;
  top:187px;
  width:61px;
  height:68px;
}
#u50_img {
  position:absolute;
  left:0px;
  top:0px;
  width:61px;
  height:68px;
}
#u51 {
  position:absolute;
  left:2px;
  top:26px;
  width:57px;
  visibility:hidden;
  word-wrap:break-word;
}
#u52 {
  position:absolute;
  left:18px;
  top:249px;
  width:65px;
  height:63px;
}
#u52_img {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:63px;
}
#u53 {
  position:absolute;
  left:2px;
  top:24px;
  width:61px;
  visibility:hidden;
  word-wrap:break-word;
}
#u54 {
  position:absolute;
  left:85px;
  top:95px;
  width:188px;
  height:45px;
}
#u54_img {
  position:absolute;
  left:0px;
  top:0px;
  width:188px;
  height:45px;
}
#u55 {
  position:absolute;
  left:0px;
  top:4px;
  width:188px;
  word-wrap:break-word;
}
#u56 {
  position:absolute;
  left:27px;
  top:97px;
  width:44px;
  height:43px;
  font-family:'Exo 2 Black', 'Exo 2';
  font-weight:900;
  font-style:normal;
  font-size:36px;
}
#u56_img {
  position:absolute;
  left:0px;
  top:0px;
  width:44px;
  height:43px;
}
#u57 {
  position:absolute;
  left:2px;
  top:0px;
  width:40px;
  word-wrap:break-word;
}
#u58 {
  position:absolute;
  left:85px;
  top:203px;
  width:111px;
  height:36px;
  color:#CC0000;
}
#u58_img {
  position:absolute;
  left:0px;
  top:0px;
  width:111px;
  height:36px;
}
#u59 {
  position:absolute;
  left:0px;
  top:0px;
  width:111px;
  word-wrap:break-word;
}
#u60 {
  position:absolute;
  left:85px;
  top:261px;
  width:111px;
  height:36px;
}
#u60_img {
  position:absolute;
  left:0px;
  top:0px;
  width:111px;
  height:36px;
}
#u61 {
  position:absolute;
  left:0px;
  top:0px;
  width:111px;
  word-wrap:break-word;
}
#u62 {
  position:absolute;
  left:1px;
  top:146px;
  width:289px;
  height:10px;
}
#u62_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u62_end {
  position:absolute;
  left:272px;
  top:-5px;
  width:18px;
  height:20px;
}
#u62_line {
  position:absolute;
  left:0px;
  top:4px;
  width:289px;
  height:2px;
}
#u63 {
  position:absolute;
  left:87px;
  top:316px;
  width:150px;
  height:36px;
}
#u63_img {
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:36px;
}
#u64 {
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  word-wrap:break-word;
}
#u65 {
  position:absolute;
  left:31px;
  top:314px;
  width:37px;
  height:40px;
}
#u65_img {
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  height:40px;
}
#u66 {
  position:absolute;
  left:2px;
  top:12px;
  width:33px;
  visibility:hidden;
  word-wrap:break-word;
}
#u67 {
  position:absolute;
  left:290px;
  top:292px;
  width:521px;
  height:83px;
}
#u67_img {
  position:absolute;
  left:0px;
  top:0px;
  width:521px;
  height:83px;
}
#u68 {
  position:absolute;
  left:2px;
  top:34px;
  width:517px;
  visibility:hidden;
  word-wrap:break-word;
}
#u69 {
  position:absolute;
  left:310px;
  top:295px;
  width:482px;
  height:72px;
}
#u69_img {
  position:absolute;
  left:0px;
  top:0px;
  width:482px;
  height:72px;
}
#u70 {
  position:absolute;
  left:0px;
  top:0px;
  width:482px;
  word-wrap:break-word;
}
#u71 {
  position:absolute;
  left:821px;
  top:292px;
  width:120px;
  height:83px;
}
#u71_img {
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:83px;
}
#u72 {
  position:absolute;
  left:2px;
  top:34px;
  width:116px;
  visibility:hidden;
  word-wrap:break-word;
}
#u73 {
  position:absolute;
  left:839px;
  top:293px;
  width:89px;
  height:77px;
}
#u73_img {
  position:absolute;
  left:0px;
  top:0px;
  width:89px;
  height:77px;
}
#u74 {
  position:absolute;
  left:2px;
  top:30px;
  width:85px;
  visibility:hidden;
  word-wrap:break-word;
}
#u75 {
  position:absolute;
  left:525px;
  top:483px;
  width:153px;
  height:130px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u76 {
  position:absolute;
  left:707px;
  top:516px;
  width:118px;
  height:70px;
  opacity:0.3;
}
#u76_img {
  position:absolute;
  left:0px;
  top:0px;
  width:118px;
  height:70px;
}
#u77 {
  position:absolute;
  left:2px;
  top:27px;
  width:114px;
  visibility:hidden;
  word-wrap:break-word;
}
#u78 {
  position:absolute;
  left:568px;
  top:405px;
  width:190px;
  height:55px;
}
#u78_img {
  position:absolute;
  left:0px;
  top:0px;
  width:190px;
  height:55px;
}
#u78_img.selected {
}
#u78.selected {
}
#u79 {
  position:absolute;
  left:2px;
  top:13px;
  width:186px;
  word-wrap:break-word;
}
#u80 {
  position:absolute;
  left:360px;
  top:405px;
  width:195px;
  height:55px;
}
#u80_img {
  position:absolute;
  left:0px;
  top:0px;
  width:195px;
  height:55px;
}
#u80_img.selected {
}
#u80.selected {
}
#u81 {
  position:absolute;
  left:2px;
  top:13px;
  width:191px;
  word-wrap:break-word;
}
#u82 {
  position:absolute;
  left:771px;
  top:405px;
  width:176px;
  height:55px;
}
#u82_img {
  position:absolute;
  left:0px;
  top:0px;
  width:176px;
  height:55px;
}
#u82_img.selected {
}
#u82.selected {
}
#u83 {
  position:absolute;
  left:2px;
  top:13px;
  width:172px;
  word-wrap:break-word;
}
#u84 {
  position:absolute;
  left:689px;
  top:483px;
  width:153px;
  height:130px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u85 {
  position:absolute;
  left:864px;
  top:11px;
  width:82px;
  height:58px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u86 {
  position:absolute;
  left:42px;
  top:570px;
  width:122px;
  height:12px;
}
#u86_img {
  position:absolute;
  left:0px;
  top:0px;
  width:122px;
  height:12px;
}
#u87 {
  position:absolute;
  left:2px;
  top:-2px;
  width:118px;
  visibility:hidden;
  word-wrap:break-word;
}
#u88 {
  position:absolute;
  left:42px;
  top:570px;
  width:50px;
  height:12px;
}
#u88_img {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:12px;
}
#u89 {
  position:absolute;
  left:2px;
  top:-2px;
  width:46px;
  visibility:hidden;
  word-wrap:break-word;
}
#u90 {
  position:absolute;
  left:134px;
  top:580px;
  width:29px;
  height:29px;
  font-family:'Exo 2 Bold', 'Exo 2';
  font-weight:700;
  font-style:normal;
  font-size:24px;
  color:#00FF00;
}
#u90_img {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:29px;
}
#u91 {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  white-space:nowrap;
}
#u92 {
  position:absolute;
  left:25px;
  top:483px;
  width:153px;
  height:130px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
